@import "../../styles/partials/colours";
@import "../../styles/partials/global";
@import "../../styles/partials/media-queries";

.list-page {
  height: 100%;
  &__container {
    position: relative;
    padding: 1rem 1rem;
    top: 7rem;
    margin: auto;
    width: calc(100% - 1rem);
    background-color: $background;
    border-radius: 4px;

    @include tablet {
      width: calc(100% - 3rem);
      max-width: 63.75rem;
    }
  }

  &__container--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  &__button-container {
    display: flex;
    justify-content: center;
  }
}
