//Primary colours

$background: #000000;
$main-blue: #8896c2;
$white: #f4f4f4;

//Text

$main-text: #ffffff;

//modal

$modal-background: #d9d9d9;

//List Headers

$secondary-blue: #89bdc2; // Manga
$secondary-purple: #a289c2; //Custom
$secondary-green: #aff8db; //TV

//Border Colors

$green: #97b6a3;
$red: #d36363;
$blue: #004aad;
$grey: #ccc;
$hold: #9a89ab;
$planner: #465285;
