@import "../../../styles/partials/colours";
@import "../../../styles/partials/global";
@import "../../../styles/partials/media-queries";

.card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
  height: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;

  &-body {
    flex: 1;
    position: relative;
    height: 80%;
  }

  &-name {
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
    max-height: 20%;
  }

  &-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px 8px 0 0;

    @include tablet {
    }
  }
}
