@import "../../styles/partials/colours";
@import "../../styles/partials/global";
@import "../../styles/partials/media-queries";

.footer {
  background-color: $main-blue;
  color: $main-text;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 2rem 0;
  width: 100%;
  p {
    text-align: center;
  }
}
