@import "../../styles/partials/colours";
@import "../../styles/partials/global";
@import "../../styles/partials/media-queries";

.footer {
  background-color: $main-blue;
  color: $main-text;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  p {
    text-align: center;
  }
}
