@import "../../../styles/partials/colours";
@import "../../../styles/partials/global";
@import "../../../styles/partials/media-queries";

.item {
  margin-top: 1rem;
  margin-bottom: 1rem;

  &-top-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;

    @include tablet {
      justify-content: center;
    }
  }

  &-top-container-Image {
    width: 200px;
  }
  img {
    margin-right: 1rem;

    @include tablet {
      margin-right: 4rem;
    }
  }
  p {
    margin-top: 0.5rem;
  }
}
